<!-- The permissions table of who gets to do what. -->
@using Microsoft.AspNetCore.Identity
@inject RoleManager<IdentityRole> RoleManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Permissions Table</h1>
<p><br /></p>
<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                Admin
            </th>
            <th>
                High Commander
            </th>
            <th>
                Commander
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in UserManager.Users.OrderBy(u => u.UserName))
        {
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
