<!--
    Created By:     Visual Studio Community 2019
    Modified By:    Beverly Yee
    Date:           2019.12.09
 -->

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Qin's Military</h1>
    <h3>The Mightiest of the Seven States</h3>
</div>

<!-- Card Decks to line up the three "login" pages in one line.
     Retrieved from: https://getbootstrap.com/docs/4.0/components/card/#card-decks
     Modified by Beverly Yee. -->
<div class="card-deck">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Admin</h1>
            <p class="card-text">
                Rank:<br />
                <span class="mr-md-4"></span>General or higher<br />
                Actions:<br />
                <span class="mr-md-4"></span>
                <a asp-area="" asp-controller="Soldiers" asp-action="Index">View/Manage soldiers</a><br />
                <span class="mr-md-4"></span>
                <a asp-area="" asp-controller="Achievements" asp-action="Index">View/Manage achievements</a><br />
                <span class="mr-md-4"></span>
                <a asp-area="" asp-controller="Admin" asp-action="Index">View/Manage permissions</a><br />
                <span class="mr-md-4"></span>View/Manage units
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h1 class="card-title">High Commander</h1>
            <p class="card-text">
                Rank:<br />
                <span class="mr-md-4"></span>1000-5000 Man commanders<br />
                Actions:<br />
                <span class="mr-md-4"></span>View/Manage soldiers<br />
                <span class="mr-md-4"></span>View/Manage units
            </p>
        </div>
        <div class="card-footer text-center">
            <a asp-area="" asp-controller="Commander" asp-action="Index" class="btn btn-primary">High Commander Login</a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Commander</h1>
            <p class="card-text">
                Rank:<br />
                <span class="mr-md-4"></span>100-500 Man commanders<br />
                Actions:<br />
                <span class="mr-md-4"></span><a asp-area="" asp-controller="Commander" asp-action="Index">View/Manage unit soldiers</a>
            </p>
        </div>
    </div>
</div>